---
import { SITE_TITLE } from "src/config.ts";
import { SITE_DESCRIPTION } from "src/config.ts";
---

<section class="mb-8">
	<div class="mb-6">
		<h1
			class="overflow-hidden pb-2 pt-4 text-center text-4xl font-bold text-text-heading md:text-5xl"
		>
			<span
				class="bg-gradient-to-bl from-primary-blue to-primary-blue bg-[length:90%_40%]
            bg-bottom bg-no-repeat dark:from-primary-blue dark:to-primary-blue"
			>
				{SITE_TITLE}
			</span>
		</h1>
		<!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
	</div>
	<div>
		<p class="mb-5 text-xl">
			{SITE_DESCRIPTION}
			<br />
			<br />
		</p>
		<p class="overflow-auto whitespace-nowrap text-center">
			<code class="px-2 py-1">Please Explore!</code><br /><br />
			<code>BTW, comments take 10-30 seconds to appear after submiting them!</code>
		</p>
		<div class="text-center">
			<br />
			<a href={"twine/The_spinner.html"}> MY PRACTICE TWINE!!</a>
		</div>
	</div>
</section>
